body {
    text-align: center;
}

.end_game{
	display: flex;
	padding: 1em; 
	height: 80%;
	width: 10%;
	background-color:#F0F8FF;
	transform: translate(350%);
	border-radius: 25px;
	border: solid black;
}

.end_game_button{
	text-align: center;
	width: 70%; 
	height: 30%; 
	transform: translate(10%);
	border-radius: 25px;
	background-color: white; 
	border: solid black;
	margin: 3px;
}
.hide{
	display: none; 
}